table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}
td,
th {
  border-bottom: 1px solid var(--dark);
  padding:2px;
}
thead th {
  border-top: 1px solid var(--dark);
  text-transform: uppercase;
  font-size: 14px;
}
tfoot th {
    font-size: 14px;
}
tfoot > tr:nth-child(n+1) > th:last-child {
    text-align: left;
    font-weight: 400;
}

tr > td {
  text-align: center;
}
tr > td:first-child,
tr > th:first-child {
  text-align: left;
  border-left:1px solid var(--dark);
}
tr > td:nth-child(n + 2),
tr > th:nth-child(n + 2) {
  border-left: 1px solid var(--dark);
  border-right: 1px solid var(--dark);
}

thead tr, tfoot tr:first-child {
    background-color: var(--secondary);
}
tbody tr:nth-child(2n+1){
    background-color: var(--light-gray);
}
tbody tr > td:nth-child(2){
    background-color: var(--secondary);
}