.navbar {
  position: relative;
  z-index: 1;
}
.navbar__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  position: relative;
  background-color: var(--light);
  z-index: 1;
}
.hamburger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  cursor: pointer;
  background-color: transparent;
  border:none;
}
/*
 logo component
*/

.logo__text {
  text-decoration: none;
  color: var(--dark);
  font-weight: 600;
  font-size: 24px;
}

.navbar__menu {
  display: block;
  position: absolute;
  width: 200vw;
  top: -100vh;
  padding-top: 90px;
  left: 0;
  transition: top 0.5s ease-in-out;
  background-color: var(--light);
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 36px);
}
.navbar__menu--visible {
  top: 0px;
}
.menu {
  width: 100vw;
  height: 100%;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.menu__item {
  border-top: 1px solid var(--dark);
}
.menu__link,
.menu-button {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: var(--dark);
  font-size: 18px;
  position: relative;
  cursor: pointer;
}
.menu__link--button {
  width: 100%;
  border: none;
  background: transparent;
  height:100%;
  text-align: left;
}
.menu__link--pointer .pointer--down,
.menu__link--pointer .pointer--up {
  display: none;
}
.menu-button {
  background-color: var(--light);
  width: 100%;
  border: none;
  text-align: left;
}
.menu-button--submenu {
  text-align: center;
}
/*
submenu component
*/
.navbar__menu--visible .submenu {
  /* border-top: 1px solid var(--dark); */
  position: absolute;
  top: 0px;
  left: 100%;
  padding-top: 90px;
  width: 100vw;
  transition: var(--transition);
  background-color: var(--light);
  z-index: 2;
}
.navbar__menu--visible .submenu.submenu--visible {
  left: 0%;
  min-height: calc(100vh - 36px);
}

.submenu__list {
  padding-left: 0;
  list-style-type: none;
}
.submenu__item {
  /* border-top: 1px solid var(--dark); */
  overflow: hidden;
}
/*
  handy-submenu component
*/
.handy-submenu {
  border-top: 1px solid var(--dark);
  height: 0;
  max-height: 0;
  transition: var(--transition);
  background-color: #fcfcfc;
}
.handy-submenu--visible {
  height: auto;
  max-height: 600px;
}
.handy-submenu__title {
  padding: 15px 25px;
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: var(--dark);
  text-transform: uppercase;
  font-weight: 600;
}
.handy-submenu__title:hover {
  color: var(--secondary);
}
.handy-submenu__list {
  padding-left: 0;
  list-style-type: none;
}

.handy-submenu__link {
  padding: 15px 25px;
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: var(--dark);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.handy-submenu__link:hover {
  color: var(--secondary);
}

/*
 pointer component
*/
.pointer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.pointer--right,
.pointer--down,
.pointer--up {
  right: 15px;
}
.pointer--left {
  left: 15px;
}
.submenu__item .pointer--left,
.submenu__item .pointer--right {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .navbar__menu {
    display: block;
    position: static;
    padding-top: 0;
    padding-right: 25px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  .hamburger {
    display: none;
  }
  .menu {
    width: max-content;
    display: flex;
    padding-left: 25px;
  }
  .menu__item {
    border-top: none;
    margin-left: 2px;
    margin-right: 2px;
  }
  .menu__link,
  .menu__item > .menu-button {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
  }
  .menu-button.menu-button--submenu {
    font-size: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .menu__link:hover {
    color: var(--secondary);
  }
  .menu__link:after {
    display: none;
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--secondary);
    border-radius: 2px;
    bottom: 0px;
    left: 0px;
  }
  .menu__link:hover:after {
    display: block;
  }
  .menu__link.active {
    color: var(--secondary);
  }
  .menu__link.active:after {
    display: block;
  }
  .menu__link--pointer {
    min-width: 150px;
    text-align: center;
  }
  .menu__item .pointer--right {
    display: none;
  }
  .menu__item .pointer--down,
  .menu__item .pointer--up {
    display: flex;
    right: 0;
  }

  .submenu {
    position: absolute;
    width: 100vw;
    top: 95px;
    left: 0;
    padding-top: 0;
    height: 0;
    max-height: 0;
    transition: var(--transition);
    overflow: hidden;
    background-color: var(--light);
  }
  .submenu.submenu--visible {
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
  }

  .submenu__list {
    width: 360px;
    position: relative;
  }

  .submenu__item {
    overflow: initial;
  }
  .submenu__item .menu-button {
    padding-top: 8px;
    padding-bottom: 8px;
    transition: var(--transition);
  }
  .submenu__item > .menu-button.active {
    font-weight: 600;
    padding-left: 40px;
    color: var(--secondary);
  }

  .handy-submenu {
    border-top: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 480px;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.35);
  }
  .handy-submenu__link {
    white-space: nowrap;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .handy-submenu--visible {
    height: auto;
    max-height: 600px;
  }

  .submenu__item .pointer--left,
  .submenu__item .pointer--right {
    display: block;
  }
  .submenu__item .pointer--down,
  .submenu__item .pointer--up {
    display: none;
  }
  .submenu__item .pointer--left {
    left: auto;
    right: 15px;
  }
}
