/*
* start banner component
*/
.banner {
  width: 100%;
  height: 400px;
  background-color: var(--light-gray);
  flex-shrink: 0;
}
.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner__title {
  background-color: var(--dark);
  color: var(--light);
  padding: 25px;
  max-width: 320px;
  font-size: 32px;
  font-weight: 400;
}
/*
* end banner component
*/

/*
* start header component
*/
.header {
  color: var(--dark);
}
.header__content {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__title {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.content-title {
  text-transform: uppercase;
  font-weight: 500;
}
.content-title--light {
  color: var(--light);
}

/*
* start product card component
*/
.product__wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 15px;
}
.product__main {
  grid-row: 2/3;
}

.product__aside {
  grid-row: 1/2;
  width: 100%;
}
.product-card {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  margin-bottom: 40px;
}
.product-card__header {
  grid-row: 1/2;
  position: relative;
  padding-left:40px;
}
.product-card__header::before {
  position: absolute;
  display: block;
  content: '';
  height:80%;
  width:10px;
  border-radius: 2px;
  top:50%;
  left:0;
  transform: translateY(-50%);
  background-color: var(--primary);
}
.product-card__title {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
}
.product-card__subtitle {
  font-size: 32px;
  font-weight: 300;
  margin-top: -5px;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.product-card__content {
  grid-row: 2/3;
}
.product-short {
  margin-bottom: 25px;
}
.product-short__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3px;
}
.product-short__name {
  font-weight: 600;
  margin-right: 15px;
}
.product-short__value {
  font-style: italic;
  color: var(--primary);
  font-weight: 300;
}
.product-short__link {
  font-style: normal;
  margin-right: 15px;
}
.product-card__lists {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-card__details h5 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.product__aside {
  position: relative;
}
.product__aside:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.needs {
  background-color: var(--secondary);
  color: var(--light);
}
.needs .list__items {
  margin-bottom: 0;
}
.list-title {
  font-size: 18px;
  font-weight: 500;
}

.product__sticky {
  position: sticky;
  top: 15px;
  left:0;
}
/*
* utility menu
*/
.utility-menu {
  background-color: var(--primary);
  padding:0;
}
.utility-menu__submenu {
  background-color: var(--light);
  padding:0;
}
.utility-menu,.utility-menu__submenu {
  margin:0;
  list-style-type: none;
}
.utility-menu__title > a {
  display: block;
  padding:15px 25px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color:var(--light);
  font-weight: 600;
  transition: var(--transition);
}
.utility-menu__item > a {
  display: block;
  text-decoration: none;
  padding:8px 25px;
  border-bottom:1px solid var(--light-gray);
  color:var(--secondary);
  transition: var(--transition) ;
}
.utility-menu__submenu > li:last-child a {
  border-bottom:none;
}
.utility-menu__title > a:hover {
  padding-left:35px;
  color:var(--dark);
}
.utility-menu__item > a:hover {
  color:var(--light-secondary);
  padding-left:35px;
}

@media screen and (min-width: 1200px) {
  .product__wrapper {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
  .product__main {
    grid-row: 1/2;
  }
  .product__aside {
    grid-row: 1/2;
    min-width: 280px;
  }
  .product-card {
    grid-template-columns: auto 1fr;
  }
  .product-card__header {
    grid-column: 1/3;
    padding-top: 40px;
    padding-bottom:40px;
  }
  .product-card__content {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 25px;
  }
  .product-card__lists {
    display: block;
  }
  .product-card__details {
    grid-column: 1/3;
  }
  .product__sticky {
    margin-top:15px;
  }
  .utility-menu {
    border-radius:4px;
  }
}
