/*
* start banner component
*/
.banner {
  width: 100%;
  height: 400px;
  background-color: var(--light-gray);
  flex-shrink: 0;
}
.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner__title {
  background-color: var(--dark);
  color: var(--light);
  padding: 25px;
  max-width: 320px;
  font-size: 32px;
  font-weight: 400;
}
/*
* end banner component
*/

/*
* start header component
*/
.header {
  background-color: var(--secondary);
  color: var(--light);
}
.header__content {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__title {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom:0;
}
/*
* start product card component
*/
.product__wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 15px;
}
.product__main {
  grid-row: 2/3;
}

.product__aside {
  grid-row: 1/2;
  width: 100%;
}
.product-card {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  margin-bottom:40px;
}
.content__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
}
.article-title {
  font-size: 28px;
  grid-row: 1/2;
  font-weight: 300;
  text-transform: lowercase;
}
.article-subtitle {
  font-size: 18px;
  font-weight: 600;
}
.product-card__content {
  grid-row: 2/3;
}

.product-card__lists {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 1200px) {
  .product__wrapper {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
  .product__main {
    grid-row: 1/2;
  }
  .product__aside {
    grid-row: 1/2;
    min-width: 280px;
  }
  .product-card {
    grid-template-columns: auto 1fr;
  }
  .article-title {
    grid-column: 1/3;
  }
  .product-card__content {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .product-card__lists {
    display: block;
  }
  .product-card__details {
    grid-column: 1/3;
  }
}
