@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;600;700;900&family=Noto+Sans:wght@400;700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

:root {
  --primary:#FF0101;
  --secondary:#43B1B0;
  --dark:#231F20;
  --gray:#A6979C;
  --light-gray:#dadada;
  --light:#FFFFFF;
}

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-weight: 400;
}
body {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 400;
  color:var(--dark);
}

#root {
  /* max-width: 1200px; */
  margin:0 auto;
}
