@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;600;700;900&family=Noto+Sans:wght@400;700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

:root {
  --primary:#FF0101;
  --secondary:#283845;
  --light-secondary:#39A0ED;
  --dark:#231F20;
  --gray:#B8B08D;
  --light-gray:#c0bca9;
  --light:#FFFFFF;
  --border-radius:0.2rem;
  --transition: all .5s ease-in-out;
}

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-weight: 400;
  height:100%;
  /* prevent scroll horizontal on mobile*/
  width:100%;
  overflow-x: hidden;
}
body {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 400;
  color:var(--secondary);
  margin:0;
  padding:0;
  height:100%;
  /* prevent scroll horizontal on mobile*/
  width:100vw;
  position:relative;
  overflow-x: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color:var(--light-secondary);
}
h1,h2,h3,h4,h5,h6,p {
  margin:0;
  margin-bottom:25px;
  color:var(--dark);
}
ul {
  margin:0;
  margin-bottom:25px;
  padding-left:20px;
}
p {
  margin-bottom: 25px;
  font-weight: 300;
}
.container {
  padding:15px 25px;
  max-width: 1200px;
  margin:0 auto;
  height: 100%;
}
.no-scroll-mobile {
  overflow:hidden;
}
.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  font-family: "Source Sans Pro",sans-serif;
}

#root {
  /* max-width: 1200px; */
  margin:0 auto;
  height:100%;
}
